.filterInput{
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    }
    
    .filterText{
    margin-left: 20px;
    color: rgb(108, 101, 101);
    
    }
    
    .filterTitle{
    margin-left: 20px;
    margin-top: 25px;
    font-size: 20px;
    }
    
    ul {
    list-style: none;
    }
    
    .form-control {
    width: 220px;
    }